<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <springProperty
            scope="context"
            name="APP_NAME"
            source="spring.application.name"/>
 <!-- Console Appender -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%X{traceId:-}] [%X{spanId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="JSON"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp/>

               <pattern>
                    <pattern>
                        {
                        "application":"${APP_NAME}",
                        "level":"%level",
                        "thread":"%thread",
                        "logger":"%logger",
                        "traceId":"%X{traceId:-}",
                        "spanId":"%X{spanId:-}",
                        "message":"%message"
                        }
                    </pattern>
</pattern>
            </providers>

        </encoder>

    </appender>
     <property name="LOG_DIR" value="logs" />

    <appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/application.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "severity": "%level",
                          "service": "my-application",
                          "thread": "%thread",
                          "logger": "%logger",
                          "message": "%message",
                          "exception": "%ex"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

   <!-- <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>-->
<springProfile name="default">
<root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</springProfile>
<springProfile name="jaeger">
<root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</springProfile>
<springProfile name="splunk-uf">
<root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>
</springProfile>
<springProfile name="splunk-otlp">
<root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</springProfile>
<springProfile name="simple">
<root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</springProfile>
</configuration>